:root{
  --first-color : #ec5242;
  --second-color: #272a31;
  --third-color:  #d3d3d3;
  }
  
* {
  margin: 0;
  padding: 0;
  font-family: 'Leto', sans-serif;
}

.about-info {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info p {
  text-align: center;
  padding: 0;
  background-color: none;
  margin: 5px 0;
}

.border-topic {
  margin-top: 5px;
  width: 50px;
  height: 2px;
  background-color: var(--first-color);
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.facts ul {
  margin-top: 20px;
}

.facts ul li {
  margin-top: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-top: 1px var(--third-color) solid;
}

footer div:first-child {
  color: var(--first-color);
}

footer p {
  text-align: right;
}
